<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
classpath:/org/springframework/beans/factory/xml/spring-beans-3.0.xsd 
http://www.springframework.org/schema/context 
classpath:/org/springframework/context/config/spring-context-3.0.xsd
http://www.springframework.org/schema/aop 
classpath:/org/springframework/aop/config/spring-aop-3.0.xsd
">
<context:annotation-config></context:annotation-config>
  
<context:component-scan base-package="com.dineshonjava.sdnext.dao.impl">
</context:component-scan>
	<bean class="com.org.HelloWorld" id="helloWorld">
		<property name="message" value="Hello World!">
		</property>
	</bean>
	<bean class="com.org.Triangle" id="triangle">
		<property name="type" value="Equilateral"></property>
	</bean>
	<bean class="com.org.EmployeeDaoImpl" id="employeeDaoImpl"/>
	<bean class="org.apache.commons.dbcp.BasicDataSource" id="dataSource">
  <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
  <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"></property>
  <property name="username" value="hibernate"></property>
  <property name="password" value="hibernate"></property>
  <property name="initialSize" value="2"></property>
  <property name="maxActive" value="5"></property>
</bean>
<bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplateObject">
  <property name="dataSource" ref="dataSource"></property>
</bean>
</beans>